JWT_SECRET=your_jwt_secret_here
GATEWAY_PORT=5000
AUTH_SERVICE_URL=http://auth-service:5001
USER_SERVICE_URL=http://user-service:5002
WALLET_SERVICE_URL=http://wallet-service:5003
GYM_SERVICE_URL=http://gym-service:5004
BOOKING_SERVICE_URL=http://booking-service:5005
PAYMENT_SERVICE_URL=http://payment-wallet-service:5006
BUDDY_SERVICE_URL=http://buddy-service:5007
